@use "../../cssUtils" as cssUtils;

.openui-callout {
  display: flex;
  flex-direction: column;
  padding: cssUtils.$space-000 calc(cssUtils.$space-m + 2px);
  box-sizing: border-box;
  align-items: flex-start;
  border-left: 2px solid;

  &-info {
    border-color: cssUtils.$border-info-emphasis;
    & .openui-callout-title {
      color: cssUtils.$text-info-primary;
    }
  }

  &-danger {
    border-color: cssUtils.$border-danger-emphasis;
    & .openui-callout-title {
      color: cssUtils.$text-danger-primary;
    }
  }

  &-warning {
    border-color: cssUtils.$border-alert-emphasis;
    & .openui-callout-title {
      color: cssUtils.$text-alert-primary;
    }
  }

  &-success {
    border-color: cssUtils.$border-success-emphasis;
    & .openui-callout-title {
      color: cssUtils.$text-success-primary;
    }
  }

  &-neutral {
    border-color: cssUtils.$border-interactive-selected;
    & .openui-callout-title {
      color: cssUtils.$text-neutral-primary;
    }
  }

  &-title {
    @include cssUtils.typography(body, heavy);
  }

  &-description {
    @include cssUtils.typography(body, default);
    color: cssUtils.$text-neutral-primary;
  }

  &-autodismiss {
    animation: openui-callout-fadeout 0.4s ease-in forwards;
    animation-delay: var(--callout-duration, 3000ms);
  }
}

@keyframes openui-callout-fadeout {
  0% {
    opacity: 1;
    max-height: 200px;
    padding-top: cssUtils.$space-000;
    padding-bottom: cssUtils.$space-000;
    margin-bottom: 0;
  }
  70% {
    opacity: 0;
    max-height: 200px;
  }
  100% {
    opacity: 0;
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    overflow: hidden;
  }
}
